html, body {
    margin: 0;
    padding: 0;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
.vertical-center {
    min-height: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
  }
.container bg-light text-center {
    width: 30vw;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.row text-center {
    width: 30vw;
    height: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
}
.col h1 mr-4 ml-4 {
    width: 10px;
    height: 70px;
    border-radius: 5px;
    transition: all 400ms ease;
}
.heading:after {
    content: "";
    display: block;
    clear: both;
}